body {
    font-family:Josefin Sans', sans-serif;
    background-color:#673AB7
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
